@model User
@{
    ViewBag.Title = "Delete User";
}
<h2>Deletion</h2>
<h3>@Model.UserName</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-primary">
        Delete
    </button>
    <a asp-action="List"
       class="btn btn-primary">Cancel</a>
</form>