@{
    ViewBag.Title = "Admin";
}

<center>

    <h1 class="p-1">Admin</h1>



                <div class="list-group btn-outline-info">
                    <a asp-controller="FoodList" asp-action="Index"
                       class="list-group-item">Manage Food List</a>

                </div>

                <div class="list-group btn-outline-info">
                    <a asp-controller="UserList" asp-action="Index"
                       class="list-group-item">Manage User List</a>

                </div>
           
            


</center>

