@{
    ViewBag.Title = "Admin";
}

<center>

    <h1 class="p-1">Admin</h1>

                <div class="list-group btn-outline-info" style="width: 200px; text-align: center;">
                    <a asp-controller="FoodList" asp-action="Index"
                       class="list-group-item" style="width: 200px; text-align: center;">Manage Food List</a>

                </div>

                <br />

                <div class="list-group btn-outline-info" style="width: 200px; text-align: center;;">
                    <a asp-controller="UserList" asp-action="Index"
                       class="list-group-item" style="width: 200px; text-align: center; ">Manage User List</a>

                </div>

                
           
            


</center>

