@model User
@{
    string title = ViewBag.Action + " User";
    ViewBag.Title = title;
    string controller =
    ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<header>

    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link
                        @(controller == "Home" && action == "Index" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="navbar-nav navbar-right">
                    <a class="nav-link"
                       asp-area="Admin" asp-controller="Home" asp-action="Admin">Admin</a>
                </div>
            </nav>
        </nav>

    </div>


</header>
<h2>@ViewBag.Title</h2>
<form asp-action="Update" method="post">

    <div class="form-group">
        <label asp-for="UserName" class="text-dark font-weight-bold">Name</label>
        <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="col text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age" class="text-dark font-weight-bold">Age</label>
        <input asp-for="Age" class="form-control">
        <span asp-validation-for="Age" class="col text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserHeight" class="text-dark font-weight-bold">Height (cm)</label>
        <input asp-for="UserHeight" class="form-control">
        <span asp-validation-for="UserHeight" class="col text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserWeight" class="text-dark font-weight-bold">Weight (kg)</label>
        <input asp-for="UserWeight" class="form-control">
        <span asp-validation-for="UserWeight" class="col text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="text-dark font-weight-bold">Gender (M/F)</label>
        <select asp-for="Gender" class="form-control">
            <option>select a gender</option>
            <option value='M'>Male</option>
            <option value='F'>Female</option>
        </select>
        <span asp-validation-for="Gender" class="col text-danger"></span>
    </div>



    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-primary">
        
            @ViewBag.Action

        
    </button>


    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>
